<!DOCTYPE html>
<html>

  <head>
    <title>Dr Valery Grard Chirurgien-Dentiste</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.ico" />
    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/plugins/icofont/icofont.css">
    <link rel="stylesheet" href="../assets/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="../assets/plugins/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="../assets/style.css">
  </head>

  <body>
    <%= render 'shared/navbar'%>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>

  <script src="../assets/plugins/jquery/jquery.js"></script>
  <script src="../assets/plugins/bootstrap/js/popper.js"></script>
  <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="../assets/plugins/counterup/jquery.easing.js"></script>
  <script src="../assets/plugins/slick-carousel/slick/slick.min.js"></script>
  <script src="../assets/plugins/counterup/jquery.waypoints.min.js"></script>
  <script src="../assets/plugins/shuffle/shuffle.min.js"></script>
  <script src="../assets/plugins/counterup/jquery.counterup.min.js"></script>
  <script src="../assets/plugins/google-map/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>
  <script src="../assets/script.js"></script>
  <script src="../assets/contact.js"></script>

</html>
